<h3>Example {{model.id}}: {{model.text}}</h3>
<button {{action 'deleteExample' model}}> Delete</button>

<h5>Update Example:</h5>
<form {{action 'patchExample' model on='submit'}}>
 {{input placeholder='Edit Text' value=model.text}}
 <button> Save</button>
</form>
